@use "./variables.scss" as *;

// put your custom CSS here!

a.internal {
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

// Ordner-Namen in anderer Farbe
.explorer .folder-title,
.explorer-folder-title {
  color: #8B2323; // oder eine eigene Farbe wie #e07a5f
  font-weight: 600;
}

// Aktiven Ordner/Seite highlighten
.folder-button[aria-current="page"],
.folder-button[aria-current="page"] .folder-title {
  background-color: var(--highlight) !important;
  border-radius: 4px;
}

.page-listing > p:first-child {
  display: none !important;
}